@font-face {
  font-family: "Arima";
  src: url("./assets/fonts/Arima/Arima-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Palanquin-Regular";
  src: url("./assets/fonts/Palanquin/Palanquin-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Palanquin-SemiBold";
  src: url("./assets/fonts/Palanquin/Palanquin-SemiBold.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Palanquin-Bold";
  src: url("./assets/fonts/Palanquin/Palanquin-Bold.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Palanquin-Regular";
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

.full_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 120px;
  gap: 88px;
}

.header {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  background: #4ea487;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 146px;
  padding-top: 16px;
  gap: 80px;
}

.logo {
  width: 120px;
  height: 120px;
}

.home_link{
  padding-top: 16px;
}

.nav_links {
  display: flex;
  gap: 72px;
}

.nav_links a {
  font-family: "Arima";
  font-weight: 700;
  font-size: 1.5rem;
  color: #f8f5eb;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.nav_links a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 20px);
  height: 25px;
  background-repeat: no-repeat;
  background-position: bottom center;

  background-size: contain;
  opacity: 0;
  transition: opacity 300ms ease;
}

.nav_links a:focus {
  color: rgba(241, 201, 83, 1);
}

.nav_links a:nth-child(1)::after {
  background-image: url(./assets/img/page-carousel/highlight-hover.png);
}

.nav_links a:nth-child(2)::after {
  background-image: url(./assets/img/page-carousel/faq-hover.png);
}

.nav_links a:nth-child(3)::after {
  background-image: url(./assets/img/page-carousel/contact-hover.png);
}

.nav_links a:hover::after {
  opacity: 1;
}

.article_header {
  max-width: 1201px;
  width: 100%;
  display: flex;
  gap: 30px;
}

.headline_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub_headline {
  font-size: 2.5rem;
  font-family: "Palanquin-SemiBold";
  font-weight: 600;
  color: rgba(78, 164, 135, 1);
  line-height: 120%;
}

.headline h1 {
  font-family: "Arima";
  font-size: 4rem;
  color: rgba(241, 201, 83, 1);
  line-height: 120%;
}

.description {
  font-size: 2rem;
  line-height: 120%;
  color: rgba(84, 55, 13, 1);
}

.author_info {
  width: 561px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
}

.avatar {
  width: 120px;
  height: 120px;
}

.author_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 120%;
}

.author_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.author_name {
  font-family: "Arima";
  font-weight: bold;
  font-size: 1.125rem;
  color: rgba(84, 55, 13, 1);
}

.author_label {
  font-family: "Arima";
  font-size: 1.125rem;
  color: rgba(84, 55, 13, 1);
}

.author_bio {
  font-family: "Palanquin";
  color: rgba(84, 55, 13, 1);
  line-height: 120%;
}

.meta_info {
  display: flex;
  gap: 32px;
  font-size: 1rem;
  color: #54370d;
  align-items: center;
}

.meta-item img {
  height: 18px;
  width: 18px;
}

.article_meta_row {
  display: flex;
  gap: 32px;
}

.carousel_content {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel_content h2 {
  font-family: "Arima";
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  color: rgba(84, 55, 13, 1);
}

.carousel {
  max-width: 1300px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.slider-element {
  width: 300px;
  height: 440px;
  position: relative;
  border-radius: 16px;
  margin: 0 -70px;
  box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
  transform: perspective(800px) rotateY(30deg) scale(0.85);
  transition: all 300ms ease-out;
}

.slider-element:hover {
  z-index: 2;

  transform: perspective(800px) rotateY(0deg) scale(1);
  margin: 0 40px;

  box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.slider-element:hover ~ .slider-element {
  transform: perspective(700px) rotateY(-30deg) scale(0.85);
}

input[name="beach-slider"] {
  display: none;
}

.pagination {
  display: none;
}

.content_text {
  max-width: 1201px;
  font-size: 1.5rem;
  line-height: 120%;
  color: rgba(61, 61, 61, 1);
}

.list_text {
  max-width: 1000px;
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 1);
  display: flex;
  flex-direction: column;
  line-height: 120%;
}

.list_text span {
  font-family: "Palanquin-Bold";
}

.tipps_content {
  max-width: 1130px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tipps_list {
  font-size: 1.5rem;
  line-height: 120%;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
  padding: 26px 16px 24px 16px;
  margin-top: 50px;
  margin-left: 40px;
}

.tipps_box {
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 1;
}

.share_content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
  position: relative;
}

.share_content p {
  font-size: 1.5rem;
  font-family: "Arima";
  font-weight: 500;
  line-height: 120%;
  color: rgba(84, 55, 13, 1);
}

.share_action_area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share_checkbox {
  display: none;
}

.share_btn_label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.btn_img_normal {
  display: block;
  transition: opacity 300ms ease;
}

.btn_img_clicked_1 {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateX(-20px);
  transition:
    opacity 300ms ease,
    transform 300ms ease;
}

.btn_img_clicked_2 {
  width: 32px;
  height: 32px;
  opacity: 0;
  visibility: hidden;
  margin-left: -50px;
  transition:
    max-width 300ms ease,
    opacity 300ms ease,
    margin 300ms ease;
}

.swing_arrow_1 {
  position: absolute;
  top: 50px;
  left: 5px;
  pointer-events: none;

  display: block;
}

.swing_arrow_2 {
  position: absolute;
  top: 50px;
  left: 5px;
  pointer-events: none;

  display: none;
}

.share_links {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;

  max-width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0;
  transition:
    max-width 300ms ease,
    opacity 300ms ease;
}

.share_links a {
  font-family: "Arima";
  font-size: 1.125rem;
  font-weight: 600;
  color: rgba(78, 164, 135, 1);
  text-decoration: underline;
}

.share_links a:hover{
  font-weight: bold;
}

.share_checkbox:checked ~ .share_btn_label .btn_img_normal {
  opacity: 0;
}
.share_checkbox:checked ~ .share_btn_label .btn_img_clicked_1 {
  opacity: 1;
}

.share_checkbox:checked ~ .share_btn_label .btn_img_clicked_2 {
  max-width: 50px;
  opacity: 1;
  visibility: visible;
  object-fit: contain;
}

.share_checkbox:checked ~ .share_links {
  max-width: 150px;
  opacity: 1;
  visibility: visible;
  margin-left: 15px;
}

.footer {
  padding: 60px 120px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(78, 164, 135, 1);
}

.copyright_group {
  font-size: 1.125rem;
  color: white;
  display: flex;
  gap: 4px;
}

.footer_links {
  display: flex;
  gap: 72px;
  align-items: center;
}

.footer_links img {
  object-fit: contain;
}

.footer_links a {
  text-decoration: none;
  color: white;
}

.footer_links a:hover{
  color: rgba(241, 201, 83, 1);
}

.socialmedia_links {
  display: flex;
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 1441px) {
  .header {
    padding: 16px max(0px, calc(50% - 720px));
  }
}

@media screen and (min-width: 1441px) {
  .footer {
    padding: 60px max(120px, calc(50% - 600px));
  }
}

@media screen and (max-width: 1270px) {
  .full_content {
    padding: 80px 90px;
  }
  .footer {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 1210px) {
  .full_content {
    padding: 80px 70px;
  }
  .footer {
    padding: 60px 70px;
  }
}

@media screen and (max-width: 1170px) {
  .full_content {
    padding: 80px 50px;
    gap: 60px;
  }
  .footer {
    padding: 60px 50px;
  }
}

@media screen and (max-width: 1130px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1010px) {
  .full_content {
    padding: 70px 15px;
  }

  .article_header {
    flex-direction: column;
    align-items: center;
  }

  .author_info {
    width: 500px;
  }

  .nav {
    padding-left: 15px;
  }

  .footer {
    padding: 30px 15px;
  }
  .footer_links {
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .full_content {
    padding-top: 24px;
  }
  .nav_links {
    display: none;
  }

  .logo {
    position: absolute;
    left: calc(50% - 60px);
  }

  .footer_links {
    flex-direction: column-reverse;
    gap: 8px;
  }

  .copyright_group {
    align-items: center;
  }

  .socialmedia_links{
    align-items: end;
  }

  .socialmedia_links img{
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 550px) {
  .author_info {
    width: fit-content;
  }
}

@media screen and (max-width: 580px) {
  .meta_info {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .sub_headline{
    font-size: 2rem;
  }

}

@media screen and (max-width: 460px) {
  html{
    font-size: 11px;
  }

  .full_content{
    gap: 50px;
  }

  .author_info{
    font-size: 14px;
  }

  .list_text ol{
    padding-inline-start: 20px;
  }

  .tipps_content{
    margin-top: 60px;
  }

  .tipps_list{
    margin: 0;
    padding: 24px 16px 24px 0;
  }

  .tipps_box{
    top: -85px;
    left: 0;
  }

  .share_content p{
    font-size: 1.6rem;
  }

  .swing_arrow_1{
    display: none;
  }

  .swing_arrow_2{
    display: block;
  }

}

@media screen and (max-width: 1300px) {
  .carousel_content{
    width: 100%;
    max-width: 100%;
  }

  input[name="beach-slider"] {
    display: none;
  }

  .carousel {
    position: relative;
    width: 100%;
    max-width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .slider-element {
    position: absolute;
    width: 250px;
    height: 360px;
    margin: 0 -70px;
    transition:
      transform 500ms ease,
      z-index 500ms ease,
      opacity 500ms ease;
    opacity: 0;
    pointer-events: none;

    transform: perspective(700px) translateX(0) scale(0.5) rotateY(0deg);
    z-index: 1;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
  }

  .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(78, 164, 135, 0.3);
    cursor: pointer;
    transition: all 300ms ease;
  }

  #slide-1:checked ~ .pagination .dot-1,
  #slide-2:checked ~ .pagination .dot-2,
  #slide-3:checked ~ .pagination .dot-3,
  #slide-4:checked ~ .pagination .dot-4,
  #slide-5:checked ~ .pagination .dot-5 {
    background-color: #4ea487;
    width: 34px;
    border-radius: 14px;
  }

  #slide-1:checked ~ .carousel .c-1 {
    transform: perspective(800px) translateX(0) scale(1) rotateY(0deg);
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
  }

  #slide-1:checked ~ .carousel .c-2 {
    transform: perspective(800px) translateX(240px) scale(0.85) rotateY(-40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-2:checked ~ .carousel .c-1 {
    transform: perspective(800px) translateX(-240px) scale(0.85) rotateY(40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-2:checked ~ .carousel .c-2 {
    transform: perspective(800px) translateX(0) scale(1) rotateY(0deg);
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
  }

  #slide-2:checked ~ .carousel .c-3 {
    transform: perspective(800px) translateX(240px) scale(0.85) rotateY(-40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-3:checked ~ .carousel .c-2 {
    transform: perspective(800px) translateX(-240px) scale(0.85) rotateY(40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-3:checked ~ .carousel .c-3 {
    transform: perspective(800px) translateX(0) scale(1) rotateY(0deg);
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
  }

  #slide-3:checked ~ .carousel .c-4 {
    transform: perspective(800px) translateX(240px) scale(0.85) rotateY(-40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-4:checked ~ .carousel .c-3 {
    transform: perspective(800px) translateX(-240px) scale(0.85) rotateY(40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-4:checked ~ .carousel .c-4 {
    transform: perspective(800px) translateX(0) scale(1) rotateY(0deg);
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
  }

  #slide-4:checked ~ .carousel .c-5 {
    transform: perspective(800px) translateX(240px) scale(0.85) rotateY(-40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-5:checked ~ .carousel .c-4 {
    transform: perspective(800px) translateX(-240px) scale(0.85) rotateY(40deg);
    z-index: 4;
    opacity: 1;
  }

  #slide-5:checked ~ .carousel .c-5 {
    transform: perspective(800px) translateX(0) scale(1) rotateY(0deg);
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
  }
}
