@font-face {
  font-family: "Arima";
  src: url("./assets/fonts/Arima/Arima-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Palanquin-Regular";
  src: url("./assets/fonts/Palanquin/Palanquin-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Palanquin-SemiBold";
  src: url("./assets/fonts/Palanquin/Palanquin-SemiBold.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Palanquin-Bold";
  src: url("./assets/fonts/Palanquin/Palanquin-Bold.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Palanquin-Regular";
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

.full_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 120px;
  gap: 88px;
}

.header {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  background: #4ea487;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 146px;
  padding-top: 16px;
  gap: 80px;
}

.logo {
  width: 120px;
  height: 120px;
}

.nav_links {
  display: flex;
  gap: 72px;
}

.nav_links a {
  font-family: "Arima";
  font-weight: 700;
  font-size: 24px;
  color: #f8f5eb;
  text-decoration: none;
  position: relative; 
  display: inline-block;
}

.nav_links a::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 20px);                 
    height: 25px;                
    background-repeat: no-repeat;
    background-position: bottom center;
    
    background-size: contain;
    opacity: 0;                  
    transition: opacity 300ms ease; 
}

.nav_links a:focus{
  color: rgba(241, 201, 83, 1);
}

.nav_links a:nth-child(1)::after {
  background-image: url(/travel-blog/assets/img/page-carousel/highlight-hover.png);
}

.nav_links a:nth-child(2)::after {
  background-image: url(/travel-blog/assets/img/page-carousel/faq-hover.png);
}

.nav_links a:nth-child(3)::after {
  background-image: url(/travel-blog/assets/img/page-carousel/contact-hover.png);
}

.nav_links a:hover::after{
  opacity: 1;
}

.article_header {
  max-width: 1201px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.headline_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub_headline {
  font-size: 40px;
  font-family: "Palanquin-SemiBold";
  font-weight: 600;
  color: rgba(78, 164, 135, 1);
  line-height: 120%;
}

.headline h1 {
  font-family: "Arima";
  font-size: 64px;
  color: rgba(241, 201, 83, 1);
  line-height: 120%;
}

.description {
  font-size: 32px;
  line-height: 120%;
  color: rgba(84, 55, 13, 1);
}

.author_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
}

.avatar {
  width: 120px;
  height: 120px;
}

.author_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.author_name {
  font-family: "Arima";
  font-weight: bold;
  font-size: 18px;
  color: rgba(84, 55, 13, 1);
}

.author_label {
  font-family: "Arima";
  font-size: 18px;
  color: rgba(84, 55, 13, 1);
}

.author_bio {
  font-family: "Palanquin";
  color: rgba(84, 55, 13, 1);
  line-height: 120%;
}

.meta_info {
  display: flex;
  gap: 32px;
  font-size: 16px;
  color: #54370d;
  align-items: center;
}

.meta-item img {
  height: 18px;
  width: 18px;
}

.carousel_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel_content h2 {
  font-family: "Arima";
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: rgba(84, 55, 13, 1);
}

.carousel {
  max-width: 1300px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.slider-element {
  width: 340px;
  height: 440px;
  position: relative;
  border-radius: 16px;
  margin: 0 -80px;
  box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
  transform: perspective(800px) rotateY(30deg) scale(0.85);
  transition: all 300ms ease-out;
}

.slider-element:hover {
  z-index: 2;

  transform: perspective(800px) rotateY(0deg) scale(1);
  margin: 0 40px;

  box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.slider-element:hover ~ .slider-element {
  transform: perspective(700px) rotateY(-30deg) scale(0.85);
}

.content_text {
  font-size: 24px;
  line-height: 120%;
  color: rgba(61, 61, 61, 1);
}

.list_text {
  max-width: 1000px;
  font-size: 24px;
  color: rgba(61, 61, 61, 1);
  display: flex;
  flex-direction: column;
  line-height: 120%;
}

.list_text span {
  font-family: "Palanquin-Bold";
}

.tipps_content {
  max-width: 1130px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tipps_list {
  font-size: 24px;
  line-height: 120%;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
  padding: 26px 16px 24px 16px;
  margin-top: 50px;
  margin-left: 40px;
}

.tipps_box {
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 1;
}

.share_content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
  position: relative;
}

.share_content p {
  font-size: 24px;
  font-family: "Arima";
  line-height: 120%;
  color: rgba(84, 55, 13, 1);
}

.swing_arrow {
  position: absolute;
  top: 50px;
  left: 5px;
}

.footer {
  padding: 60px 120px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(78, 164, 135, 1);
}

.copyright_group {
  font-size: 18px;
  color: white;
  display: flex;
  gap: 4px;
}

.footer_links {
  display: flex;
  gap: 72px;
  align-items: center;
}

.footer_links img {
  object-fit: contain;
}

.footer_links a {
  text-decoration: none;
  color: white;
}

.socialmedia_links {
  display: flex;
  gap: 16px;
  align-items: center;
}
