@media screen and (min-width: 1440px) {
    * {
        margin: 0px;
        border: 0px;
    }

    article {
        padding-left: max(calc(50% - 720px), 0px);
        padding-right: max(calc(50% - 720px), 0px);
    }

    article header {
        margin-top: 176px;
    }
}

article-direction-column {
    display: flex;
    flex-direction: column;
}

article {
    margin-top: 48px;
}

html {
    margin: 0px 120px;
}

body {
    font-family: 'Arima', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 88px 0px;
    border: 16px;

}

ul {
    list-style: none;
}

/*  Navigation Bar
-------------------------------------------------------------------
*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 88px 0px;
    border: 16px;

}

.header {
    position: absolute;
    top: 0;

    right: 0;
    width: 100%;

    height: 128px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #4ea487;
    margin: 0;
}

.header-inner {
    max-width: 1440px;
    width: 100%;
    height: 128px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    padding-left: 146px;
    padding-top: 16px;
    gap: 80px;
}

.logo {
    width: 72px;
    height: 72px;
    position: absolute;
    left: 10%;
}

.nav_links {
    display: flex;
    gap: 72px;
    position: absolute;
    left: 20%;
}

.nav_links a {
    font-family: "Arima";
    font-weight: 700;
    font-size: 24px;
    color: #f8f5eb;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

ul {
    list-style: none;
}

.nav-item {
    position: relative;
    display: inline-block;
}

#nav-highlights,
#nav-faq,
#nav-contact {
    display: block;
    transition: opacity 0.2s ease;
}

.nav-hover-highlights {
    position: absolute;
    left: 52%;
    top: 58%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: none;
}

.nav-hover-faq {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: none;
}

.nav-hover-contact {
    position: absolute;
    left: 48%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: none;
}

.nav-item:hover #nav-highlights,
.nav-item:hover #nav-faq,
.nav-item:hover #nav-contact {
    opacity: 0;
}

.nav-item:hover .nav-hover-highlights,
.nav-item:hover .nav-hover-faq,
.nav-item:hover .nav-hover-contact {
    opacity: 1;
}

.nav_links a:focus {
    color: #F1C953;
}

.nav_links a:nth-child(1)::after {
    background-image: url(./assets/img/page-carousel/highlight-hover.png);
}

.nav_links a:nth-child(2)::after {
    background-image: url(./assets/img/page-carousel/faq-hover.png);
}

.nav_links a:nth-child(3)::after {
    background-image: url(./assets/img/page-carousel/contact-hover.png);
}


@media screen and (min-width: 1440px) {

    .nav_links {
        position: unset;
        display: flex;
        justify-content: center;
    }

    .logo {
        position: unset;
        display: flex;
        justify-content: center;
    }
}


@media screen and (min-width: 769px) and (max-width: 1279px) {
    html {
        margin: 0px 32px;
    }

    .logo {
        left: 4%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        margin: 0 16px;
    }

    .header {
        height: 70px;
    }

    .nav_links {
        display: none;
    }

    .logo {
        width: 56px;
        height: 56px;
        left: calc(50% - 32px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav {
        padding-top: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    html {
        margin: 0 8px;
    }

    .header {
        height: 70px;
    }

    .nav_links {
        display: none;
    }

    .logo {
        width: 56px;
        height: 56px;
        left: calc(50% - 32px);
    }

    .nav {
        padding-top: 0;
    }
}

/*
-------------------------------------------------------------------
*/
.mobile-nav {
    display: none;
}

#vector13 {
    display: none;
}

.mobile-footer {
    height: 150px;
    padding: 0px 120px;
    display: flex;
    left: max(calc(50% - 720px), 0px);
    right: max(calc(50% - 720px), 0px);
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    background-color: rgba(78, 164, 135, 1);

    flex-direction: row;
}

.mobile-footer {
    display: none;
}

.meta-icon {
    width: 16px;
}

.info-card-author>p {
    font-family: Palanquin-Regular, sans-serif;
}

h1 {
    color: #F1C953;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #54370D;
    font-weight: 600;
}

aside {
    background-color: #4EA48733;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 30px;
    ;
}

aside img {
    width: 120px;
}

aside p {
    font-size: 16px;
    text-align: left;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 400;
    color: #54370D;
}

aside h3 {
    color: #54370D;
}


#article-title {
    color: #4EA487;
    font-size: 40px;
    font-weight: 600;
}

.header-direction-column {
    display: flex;
    flex-direction: column;
}

.header-direction-row {
    display: flex;
    flex-direction: row;
}

.header-left {
    gap: 40px;
    width: 100%;
    padding-bottom: 16px;
}

.weather-section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.beach-activities-section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accommodation-expenses-section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitle {
    font-size: 28px;
    line-height: 110%;
    font-weight: 400px;
    color: #54370D;
}

.header-direction-column>div:nth-child(2) {
    align-items: flex-end;
}

.article-meta {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    color: #54370D;
    gap: 32px;
    font-family: Palanquin-Regular, sans-serif;
}

.article-meta-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

#landing-info-text {
    margin-top: 32px;
    font-family: Palanquin-Regular, sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    color: #3D3D3D;
}

.meta-div {
    gap: 6px;
    display: flex;
    align-items: center;
}

.aside-header {
    font-family: Arima, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}

.weather-section img {
    width: 700px;
    margin-top: 16px;
    margin-bottom: 60px;
}

.weather-section figcaption {
    color: #3D3D3D;
    font-size: 24px;
    line-height: 120%;
    font-family: Palanquin-Regular, sans-serif;
}

.graph-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 88px 0;
}

.graph-section>section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-section img {
    width: 575px;
}

#second-graph-img {
    padding-top: 44px;
}

.graph-section figcaption {
    color: #3D3D3D;
    font-size: 24px;
    line-height: 120%;
    font-family: Palanquin-Regular, sans-serif;
    padding: 16px 16px;
    min-height: 160px;
    /* Wert ggf. anpassen */
}

.beach-activities-section {
    padding-right: 32px;
}

.accommodation-expenses-section {
    padding-left: 32px;
}

#ending-info-text {
    color: #54370D;
    font-size: 24px;
    line-height: 120%;
    font-family: Palanquin-Regular, sans-serif;
    margin-bottom: 88px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

footer p {
    color: #54370D;
    font-size: 24px;
    line-height: 120%;
    font-family: Arima, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

footer span {
    color: #F1C953;
    font-size: 24px;
    line-height: 120%;
    font-family: Arima, sans-serif;
    font-weight: 700;
    letter-spacing: 5%;
}

.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: #4EA487;
    border-radius: 40px;
    width: 160px;
    padding: 8px 0;

    margin-bottom: 88px;
}

footer>img {
    position: absolute;
    left: 30%;
    top: 52px;
}

.share_content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
}

.share_content p {
    font-size: 18px;
    font-family: "Arima";
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
}

.share_action_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.share_checkbox {
    display: none;
}

.share_btn_label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.btn_img_normal {
    display: block;
    transition: opacity 300ms ease;
}

.btn_img_clicked_1 {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateX(-20px);
    transition:
        opacity 300ms ease,
        transform 300ms ease;
}

.btn_img_clicked_2 {
    width: 32px;
    height: 32px;
    opacity: 0;
    visibility: hidden;
    margin-left: -50px;
    transition:
        max-width 300ms ease,
        opacity 300ms ease,
        margin 300ms ease;
}

.swing_arrow_1 {
    position: absolute;
    top: 50px;
    left: 5px;
    pointer-events: none;

    display: block;
}

.swing_arrow_2 {
    position: absolute;
    top: 60px;
    left: 35px;
    pointer-events: none;

    display: none;
}

.share_links {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;

    max-width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    transition:
        max-width 300ms ease,
        opacity 300ms ease;
}

.share_links a {
    font-family: "Arima";
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(78, 164, 135, 1);
    text-decoration: underline;
}

.share_links a:hover {
    font-weight: bold;
}

.share_checkbox:checked~.share_btn_label .btn_img_normal {
    opacity: 0;
}

.share_checkbox:checked~.share_btn_label .btn_img_clicked_1 {
    opacity: 1;
}

.share_checkbox:checked~.share_btn_label .btn_img_clicked_2 {
    max-width: 50px;
    opacity: 1;
    visibility: visible;
}

.share_checkbox:checked~.share_links {
    max-width: 150px;
    opacity: 1;
    visibility: visible;
    margin-left: 15px;
}


/*  Footer
-------------------------------------------------------------------
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

footer p {
    color: #54370D;
    font-size: 24px;
    line-height: 120%;
    font-family: Arima, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

footer span {
    color: #F1C953;
    font-size: 24px;
    line-height: 120%;
    font-family: Arima, sans-serif;
    font-weight: 700;
    letter-spacing: 5%;
}

.mobile-footer {
    height: 150px;
    padding: 0px 120px;
    display: flex;
    left: max(calc(50% - 720px), 0px);
    right: max(calc(50% - 720px), 0px);
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    background-color: #4EA487;

    flex-direction: row;
}

.mobile-footer {
    display: none;
}

.footer {
    height: 150px;
    padding: 0px 120px;
    display: flex;
    left: max(calc(50% - 720px), 0px);
    right: max(calc(50% - 720px), 0px);
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    background-color: #4EA487;

    flex-direction: row;
}

.copyright_group span {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 120%;
    font-family: Palanquin-Regular, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}

.copyright_group {
    font-size: 18px;
    color: white;
    display: flex;
    gap: 4px;
}

.footer_links {
    width: 100%;
    display: flex;
    gap: 72px;
    align-items: center;

}

.footer_links img {
    object-fit: contain;
}

.footer_links a {
    text-decoration: none;
    color: white;
}

.footer_links a:hover {
    color: rgba(241, 201, 83, 1);
}

.socialmedia_rechts {
    display: flex;
    gap: 16px;
    align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .footer {
        left: -32px;
        width: calc(100% + 64px);
    }

    .footer_links {
        margin-left: -80px;
        gap: 48px;
        font-size: 16px;
    }

    .socialmedia_rechts {
        margin-right: -80px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
        display: none;
    }

    .mobile-footer {
        height: 136px;
        display: flex;
        padding: 0;
        left: -32px;
        width: calc(100% + 48px);
    }

    .footer_links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        padding-left: 32px;
    }

    .socialmedia_rechts {
        padding-right: 32px;
        padding-top: 60px;
    }

    #tiktok-icon {
        width: 24px;
        height: 24px;
    }

    #youtube-icon {
        width: 32px;
        height: 24px;
    }

    #facebook-icon {
        width: 24px;
        height: 24px;
    }

    #instagram-icon {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer {
        display: none;
    }

    .mobile-footer {
        height: 136px;
        display: flex;
        padding: 0;
        left: -32px;
        width: calc(100% + 48px);
    }

    .footer_links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        padding-left: 32px;
        margin-right: -32px;
    }

    .socialmedia_rechts {
        padding-right: 16px;
        padding-top: 60px;
        gap: 8px;
    }

    #tiktok-icon {
        width: 24px;
        height: 24px;
    }

    #youtube-icon {
        width: 32px;
        height: 24px;
    }

    #facebook-icon {
        width: 24px;
        height: 24px;
    }

    #instagram-icon {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1280px) {

    html {
        padding-left: 0;
        padding-right: 0;
    }

    article {
        padding-left: max(calc(50% - 720px), 0px);
        padding-right: max(calc(50% - 720px), 0px);
        margin: 0 48px;
    }

    .footer {
        max-width: none;
        width: 100%;
        left: 0;
        right: 0;
        padding: 0 max(calc(50% - 600px), 0px);
    }

    main {
        padding-left: 0;
        padding-right: 0;
    }

    html {
        margin: 0;
    }

}


/*
-------------------------------------------------------------------
*/


@media screen and (min-width: 1280px) and (max-width: 1360px) {
    footer>img {
        left: 28%;
        top: 52px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    article header {
        margin-top: 176px;
    }

    .beach-activities-section figcaption {
        font-size: 20px;
        width: 480px;
    }

    .accommodation-expenses-section figcaption {
        font-size: 20px;
        width: 480px;
    }

    .beach-activities-section {
        padding-right: 0px;
    }

    .accommodation-expenses-section {
        padding-left: 0px;
    }

    .graph-section img {
        width: 480px;
    }

    #second-graph-img {
        padding-top: 16px;
    }


}

@media screen and (min-width: 950px) and (max-width: 1160px) {
    footer>img {
        left: 26%;
        top: 52px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    html {
        margin: 0px 32px;
    }

    article {
        margin-top: 0;
    }

    article header {
        margin-top: 176px;
    }

    .article-meta {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 96px;
    }

    .header-direction-column>div:nth-child(2) {
        align-items: flex-start;
    }

    .nav_links a {
        font-size: 20px;
    }

    .article-meta-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }

    .logo {
        left: 4%;
    }


    .header-left h1 {
        font-size: 46px;
    }

    #article-title {
        font-size: 24px;
    }

    #subtitle {
        font-size: 20px;
    }

    #landing-info-text {
        font-size: 18px;
    }

    .weather-section img {
        width: 650px;
    }

    .weather-section figcaption {
        font-size: 18px;
    }

    .graph-section {
        flex-direction: column;
        gap: 32px;
    }

    .graph-section figcaption {
        font-size: 18px;
        min-height: 0px;
    }

    #second-graph-img {
        padding-top: 0px;
    }

    #ending-info-text {
        font-size: 18px;
    }

    .footer {
        left: -32px;
        width: calc(100% + 64px);
    }

    .footer_links {
        margin-left: -80px;
        gap: 48px;
        font-size: 16px;
    }

    .socialmedia_rechts {
        margin-right: -80px;
    }
}

@media screen and (min-width: 800px) and (max-width: 949px) {
    footer>img {
        left: 23%;
        top: 52px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    html {
        margin: 0 16px;
    }

    h2 {
        font-size: 24px;
    }

    main {
        margin-top: 0;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .article-meta {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 16px;
    }

    .info-card-author {
        width: 449px;
        justify-content: center;
    }

    #landing-info-text {
        font-size: 16px;
    }

    .header-direction-column>div:nth-child(2) {
        align-items: flex-start;
    }

    #article-title {
        font-size: 20px;
    }

    .header-left h1 {
        font-size: 40px;
    }

    #subtitle {
        font-size: 18px;
    }

    .graph-section {
        flex-direction: column;
        gap: 32px;
        align-items: center;
        margin: 32px 0;
    }

    .graph-section figcaption {
        font-size: 16px;
        min-height: 0px;
    }

    #second-graph-img {
        padding-top: 0px;
    }

    #ending-info-text {
        font-size: 16px;
    }

    .weather-section img {
        width: 449px;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .weather-section figcaption {
        font-size: 16px;
    }

    .beach-activities-section {
        padding-right: 0px;
    }

    .accommodation-expenses-section {
        padding-left: 0px;
    }

    .beach-activities-section img {
        width: 449px;
        padding: 8px 0;
    }

    .accommodation-expenses-section img {
        width: 449px;
        padding: 8px 0;
    }

    #popular-beach-text {
        font-size: 16px;
    }

    .graph-section figcaption {
        padding: 8px 0;
    }

    #ending-info-text {
        margin-bottom: 40px;
    }

    footer p {
        font-size: 18px;
        margin-bottom: 32px;
    }

    footer>img {
        width: 32px;
        left: 12%;
    }

    #vector12 {
        display: none;
    }

    #vector13 {
        display: block;
    }

    .share-button {
        gap: 8px;
        text-align: center;
        margin-bottom: 128px;
    }

    .share-button img {
        width: 0px;
    }

    article {
        margin-top: 0;
    }

    .header {
        height: 70px;
    }

    .nav_links {
        display: none;
    }

    .logo {
        width: 56px;
        height: 56px;
        left: calc(50% - 32px);
    }

    .footer {
        display: none;
    }

    .mobile-footer {
        height: 136px;
        display: flex;
        padding: 0;
        left: -32px;
        width: calc(100% + 48px);
        margin-bottom: 88px;
    }

    .footer_links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        padding-left: 32px;
    }

    .socialmedia_rechts {
        padding-right: 32px;
        padding-top: 60px;
    }

    #tiktok-icon {
        width: 24px;
        height: 24px;
    }

    #youtube-icon {
        width: 32px;
        height: 24px;
    }

    #facebook-icon {
        width: 24px;
        height: 24px;
    }

    #instagram-icon {
        width: 24px;
        height: 24px;
    }

    .mobile-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 88px;
        background: #F1C953;
        justify-content: center;
        align-items: center;
        gap: 48px;
        z-index: 100;
        padding: 24px 25px;
    }
}

@media screen and (min-width: 769px) and (max-width: 799px) {
    footer>img {
        left: 20%;
        top: 52px;
    }
}

@media screen and (min-width: 651px) and (max-width: 768px) {
    footer>img {
        left: 26%;
        top: 52px;
    }
}

@media screen and (min-width: 541px) and (max-width: 650px) {
    footer>img {
        left: 23%;
        top: 52px;
    }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
    footer>img {
        left: 17%;
        top: 52px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    html {
        margin: 0 8px;
    }

    h2 {
        font-size: 20px;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .article-meta {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 16px;
    }

    .article-meta-row {
        gap: 8px;
    }

    .info-card-author {
        width: 320px;
        justify-content: center;
    }

    #landing-info-text {
        font-size: 16px;
        margin-top: 24px;
    }

    .header-direction-column>div:nth-child(2) {
        align-items: flex-start;
    }

    #article-title {
        font-size: 20px;
    }

    .header-left h1 {
        font-size: 40px;
    }

    #subtitle {
        font-size: 18px;
    }

    .graph-section {
        flex-direction: column;
        gap: 8px;
        align-items: center;
        margin: 16px 0;
    }

    .graph-section figcaption {
        font-size: 16px;
        min-height: 0px;
    }

    #second-graph-img {
        padding-top: 0px;
    }

    #ending-info-text {
        font-size: 16px;
    }

    .weather-section img {
        width: 320px;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .weather-section figcaption {
        font-size: 16px;
    }

    .beach-activities-section {
        padding-right: 0px;
        margin-top: 8px;
    }

    .accommodation-expenses-section {
        padding-left: 0px;
    }

    .beach-activities-section img {
        width: 320px;
        padding: 8px 0;
    }

    .accommodation-expenses-section img {
        width: 320px;
    }

    #popular-beach-text {
        font-size: 16px;
        padding: 8px 8px;
    }

    .graph-section figcaption {
        padding: 8px 8px;
    }

    #ending-info-text {
        margin-bottom: 40px;
    }

    footer p {
        font-size: 16px;
        margin-bottom: 32px;
    }

    footer>img {
        width: 32px;
        left: 12%;
    }

    #vector12 {
        display: none;
    }

    #vector13 {
        display: block;
    }

    .share-button {
        gap: 8px;
        text-align: center;
        margin-bottom: 128px;
    }

    .share-button img {
        width: 16px;
        height: 16px;
    }

    article {
        margin-top: 0;
    }

    .header {
        height: 70px;
    }

    .nav_links {
        display: none;
    }

    .logo {
        width: 56px;
        height: 56px;
        left: calc(50% - 32px);
    }

    .footer {
        display: none;
    }

    .mobile-footer {
        height: 136px;
        display: flex;
        padding: 0 16px;
        width: calc(100% + 16px);
        margin-left: -8px;
        left: 0;
        right: 0;
        box-sizing: border-box;
        margin-bottom: 88px;
    }

    .footer_links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        padding-left: 0px;
        margin-right: -32px;
    }

    .footer_links a {
        font-size: 16px;
    }

    .copyright_group span {
        font-size: 16px;
    }

    .socialmedia_rechts {
        padding-right: 16px;
        padding-top: 60px;
        gap: 8px;
    }

    #tiktok-icon {
        width: 24px;
        height: 24px;
    }

    #youtube-icon {
        width: 32px;
        height: 24px;
    }

    #facebook-icon {
        width: 24px;
        height: 24px;
    }

    #instagram-icon {
        width: 24px;
        height: 24px;
    }

    .swing_arrow_1 {
        display: none;
    }

    .swing_arrow_2 {
        display: block;
    }

    main {
        margin-top: 0;
    }

    .mobile-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 88px;
        background: #F1C953;
        justify-content: center;
        align-items: center;
        gap: 48px;
        z-index: 100;
        padding: 24px 25px;
    }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
    footer>img {
        left: 15%;
        top: 52px;
    }
}

@media screen and (min-width: 320px) and (max-width: 330px) {
    .socialmedia_rechts {
        gap: 4px;
    }
}

@media screen and (min-width: 320px) and (max-width: 380px) {
    .mobile-nav-item {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav-item img {
        width: 31px;
        height: 34px;
    }
}