* {
  box-sizing: border-box;
  margin: 0;
}
html {
    scroll-behavior: smooth;
}
main{
    display: flex;
    flex-direction: column;
margin-top: 128px;
}

/* Auf 1440px begrenzen!*/
@media screen and (min-width: 1440px) {
    * {
        margin: 0px;
        border: 0px;
    }

    html {
        padding-left: max(calc(50% - 720px), 0px);
        padding-right: max(calc(50% - 720px), 0px);
    }
}

/*-----------------------------------------------------------------------------
  Fonts: (ungenutze Fonts können gelöscht werden, wenn die Seite fertig ist)
-----------------------------------------------------------------------------*/
@font-face {
    font-family: 'Arima';
    src: url('./assets/fonts/Arima/Arima-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-Bold';
    src: url('./assets/fonts/Palanquin/Palanquin-Bold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-ExtraLight';
    src: url('./assets/fonts/Palanquin/Palanquin-ExtraLight.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-Light';
    src: url('./assets/fonts/Palanquin/Palanquin-Light.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-Medium';
    src: url('./assets/fonts/Palanquin/Palanquin-Medium.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-Regular';
    src: url('./assets/fonts/Palanquin/Palanquin-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-SemiBold';
    src: url('./assets/fonts/Palanquin/Palanquin-SemiBold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Palanquin-Thin';
    src: url('./assets/fonts/Palanquin/Palanquin-Thin.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/*  Navigation Bar
-------------------------------------------------------------------
*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 88px 0px;
    border: 16px;

}
.header {
    position: absolute;
    top: 0;
    left: max(calc(50% - 720px), 0px);
    right: 0;
    width: 100%;
    max-width: 1440px;
    height: 128px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #4ea487;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    padding-left: 146px;
    padding-top: 16px;
    gap: 80px;
}

.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 10%;
}

.nav_links {
    display: flex;
    gap: 72px;
    position: absolute;
    left: 20%;
}

.nav_links a {
    font-family: "Arima";
    font-weight: 700;
    font-size: 24px;
    color: #f8f5eb;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav_links a:hover {
    color: rgba(241, 201, 83, 1);
}

ul {
    list-style: none;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    html {
        margin: 0px 32px;
    }

    .nav_links a {
        font-size: 20px;
    }
    .logo {
        left: 4%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        margin: 0 16px;
    }

    header {
        margin: 32px 0;
    }

    .header {
        height: 70px;
    }

    .nav_links {
        display: none;
    }

    .logo {
        width: 80px;
        height: 80px;
        left: calc(50% - 32px);
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    html {
        margin: 0 8px;
    }

    header {
        margin: 32px 0;
    }

    .header {
        height: 70px;
    }

    .nav_links {
        display: none;
    }

    .logo {
        width: 80px;
        height: 80px;
        left: calc(50% - 32px);
    }
}
/*
-------------------------------------------------------------------
*/



/*  Footer
-------------------------------------------------------------------
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

footer p {
    color: #54370D;
    font-size: 24px;
    line-height: 120%;
    font-family: Arima, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

footer span {
    color: #F1C953;
    font-size: 24px;
    line-height: 120%;
    font-family: Arima, sans-serif;
    font-weight: 700;
    letter-spacing: 5%;
}
.mobile-footer {
    height: 150px;
    padding: 0px 120px;
    display: flex;
    left: max(calc(50% - 720px), 0px);
    right: max(calc(50% - 720px), 0px);
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    background-color: rgba(78, 164, 135, 1);

    flex-direction: row;
}

.mobile-footer {
    display: none;
}

.footer {
    height: 150px;
    padding: 0px 120px;
    display: flex;
    left: max(calc(50% - 720px), 0px);
    right: max(calc(50% - 720px), 0px);
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    background-color: rgba(78, 164, 135, 1);

    flex-direction: row;
}

.copyright_group span {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 120%;
    font-family: Palanquin-Regular, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}

.copyright_group {
    font-size: 18px;
    color: white;
    display: flex;
    gap: 4px;
}

.footer_links {
    width: 100%;
    display: flex;
    gap: 72px;
    align-items: center;

}

.footer_links img {
    object-fit: contain;
}

.footer_links a {
    text-decoration: none;
    color: white;
}

.footer_links a:hover {
    color: rgba(241, 201, 83, 1);
}

.socialmedia_rechts {
    display: flex;
    gap: 16px;
    align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .footer {
        left: -32px;
        width: calc(100% + 64px);
    }

    .footer_links {
        margin-left: -80px;
        gap: 48px;
        font-size: 16px;
    }

    .socialmedia_rechts {
        margin-right: -80px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
        display: none;
    }

    .mobile-footer {
        height: 136px;
        display: flex;
        padding: 0;
        left: -32px;
        width: calc(100% + 48px);
    }

    .footer_links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        padding-left: 32px;
    }

    .socialmedia_rechts {
        padding-right: 32px;
        padding-top: 60px;
    }

    #tiktok-icon {
        width: 24px;
        height: 24px;
    }

    #youtube-icon {
        width: 32px;
        height: 24px;
    }

    #facebook-icon {
        width: 24px;
        height: 24px;
    }

    #instagram-icon {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer {
        display: none;
    }

    .mobile-footer {
        height: 136px;
        display: flex;
        padding: 0;
        left: -32px;
        width: calc(100% + 48px);
    }

    .footer_links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        padding-left: 32px;
        margin-right: -32px;
    }

    .socialmedia_rechts {
        padding-right: 16px;
        padding-top: 60px;
        gap: 8px;
    }

    #tiktok-icon {
        width: 24px;
        height: 24px;
    }

    #youtube-icon {
        width: 32px;
        height: 24px;
    }

    #facebook-icon {
        width: 24px;
        height: 24px;
    }

    #instagram-icon {
        width: 24px;
        height: 24px;
    }
}

/*
-------------------------------------------------------------------
*/




